body{
    font-weight: normal;
    margin: 0;
    padding: 0;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-decoration: none;
    color: black;
    align-items: center;
    background-color: bisque;
}
#nav{
    margin: 10px;
    display: inline;
}
#nav:hover{
    display: flex;           
    justify-content: space-between; 
}
.fathia{
    display: block;
    background-color: yellow;
}
.star{
    text-decoration: none;
    padding: 9px 18px;
    text-align: center;
    margin: 50px;
}
.star:hover{
    color: black;  
    background-color: yellow;
}
#mmm{
    text-align: center;
    padding: 9px 18px;
    text-align: center;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    align-items: center;
    width: 10px;
}
#lov:hover{
    background-color: yellow;
}